* {
	margin: auto;
}

h2 {
	color: #BBBBBB;
}
h3 {
	padding-bottom: 2vh;
}

header {
	background: linear-gradient(90deg, #EEEEEE, #00FF00);
	height: 100vh;
	width: 100%;
}

#nav {
	width: 100%;
	height: 12vh;
	z-index: 1;
	background: black;
	text-align: center;
	padding-top: 1.6vh;
	position: fixed;
}

#nav a {
	font-weight: bold;
}

#welcome {
	text-align: center;
	padding-top: 50vh;
}

main {
	width: 100%;
}

#about {
	background: linear-gradient(90deg, #CCCCCC, #000000);
	width: 100%;
	padding-top: 4vh;
	padding-bottom: 4vh;
	font-weight: semi-bold;
	text-align: center;
	border-radius: 15%;
}

#about h3 {
	color: white;
}

#about-element {
	background: linear-gradient(90deg, #DDDDDD, #0000FF);
	color: black;
	padding: 2vh;
	padding-left: 60px;
	padding-right: 60px;
	border-radius: 50%;
}

#education {
	padding-top: 10vh;
	background: linear-gradient(90deg, #FFFFFF, #0000FF);
	width: 100%;
	padding-bottom: 8vh;
}

#projects {
	padding-top: 10vh;
	background: linear-gradient(90deg, #FFFFFF, #FF0000);
}

#projects h3 {
	text-align: center;
}

#software-projects, #robotics-projects {
	width: 85%;
	margin: auto;
	text-align: center;
	padding-bottom: 8vh;
}

.card {
	margin-bottom: 4vh;
}

#certifications {
	padding-top: 10vh;
	padding-bottom: 8vh;
	background: linear-gradient(90deg, #FFFFFF, #00FFFF);
}

#coding-profiles {
	padding-top: 10vh;
	padding-bottom: 8vh;
	background: linear-gradient(90deg, #FFFFFF, #FF00FF);
}

#contacts {
	padding-top: 8vh;
	background: linear-gradient(90deg, #FFFFFF, #FFFF00);
	padding-bottom: 3vh;
}

#contacts h3 {
	color: white;
	text-shadow: 2px 2px #0000FF;
	text-align: center;
}

#contacts h6 {
	text-shadow: 0.6px 0.6px #0000FF;
	padding-top: 4vh;
	text-align: center;
	bottom: 0vh;
}

#contacts a {
	font-weight: bold;
}