* {
	margin: auto;
}

h2 {
	color: #BBBBBB;
}

header {
	background: linear-gradient(90deg, #EEEEEE, #00FF00);
	height: 84vh;
	width: 100%;
}

#nav {
	width: 100%;
	height: 12vh;
	z-index: 1;
	background: black;
	text-align: center;
	padding-top: 1.6vh;
	position: fixed;
}

#welcome {
	text-align: center;
	padding-top: 45vh;
}



main {
	width: 100%;
}

#about {
	background: linear-gradient(90deg, #CCCCCC, #000000);
	width: 100%;
	
	font-weight: semi-bold;
	text-align: center;
	border-radius: 15%;
}

#about h4 {
	color: white;
}

#about-element {
	background: linear-gradient(90deg, #DDDDDD, #0000FF);
	color: black;
	padding: 2vh;
	padding-left: 60px;
	padding-right: 60px;
	border-radius: 50%;
}

#education {
	padding-top: 10vh;
	background: linear-gradient(90deg, #FFFFFF, #0000FF);
	width: 100%;
	
}

#projects {
	padding-top: 10vh;
	background: linear-gradient(90deg, #FFFFFF, #FF0000);
}

#projects h3 {
	text-align: center;
}

#software-projects, #robotics-projects {
	width: 85%;
	margin: auto;
	text-align: center;
}

#certifications {
	padding-top: 10vh;
	background: linear-gradient(90deg, #FFFFFF, #00FFFF);
	height: 50vh;
}

#coding-profiles {
	padding-top: 10vh;
	background: linear-gradient(90deg, #FFFFFF, #FF00FF);
	height: 50vh;
}

#contacts {
	padding-top: 10vh;
	background: linear-gradient(90deg, #FFFFFF, #FFFF00);
	height: 50vh;
}
